#container {
	width: 100%;
	margin: auto;
}

div.header_footer {
	height: 120px;
	width: 100%;
	margin-bottom: 80;
	background-color: rgb(120, 120, 120);
	text-align: center;
}

img {
	float: left;
	border-radius: 100%;
	height: 220px;
	width: 220px;
	margin-left: -100px;
	box-shadow: 4px 4px 4px rgba(0,0,0,.9);
}

#header {
	box-shadow: 4px 4px 4px rgba(0,0,0,.9);
}

/*ul.header_list {
	list-style: none;
	margin: 0px;
} /*header list of navigation links*/

li {

	float: right;
	text-decoration: none;
	border-left: 1px solid rgba (0, 0, 0, .2);
	border-right: 1px solid rgba(255,255,255,.1);
	color: #ffffff;
	display: inline-block;
	font-size: 16px;
	padding: 0px 20px;
	line-height: 60px;
	text-transform: uppercase;
}


ul {
	list-style: none;
	margin: auto;
}

.thumbnail {
display: inline-block;
}

.product_name {
	padding-right: 20px;
	position: relative;
	line-height: 30px;
	padding-left: 130px;
	color: black;
}

.other_text0 {
	padding-left: 150px;
	font-size: 32px;
	color: rgba(250, 250, 250, 1);
}

.other_text1 {
	padding-left: 150px;
	font-size: 32px;
	color: rgba(230, 230, 230, 1);
}

.other_text0:hover {
 color: black;
}
.other_text1:hover {
 color: black;
}


.card0 {
	height: 220px;
	width: 420px;
	display: inline-block;
	background-color: rgba(250, 250, 250, 1);
	padding: 0px;
	margin-bottom: 40px;
	/*box-shadow: 4px 4px 4px rgba(0,0,0,.4);*/
}

.card1 {
	height: 220px;
	width: 420px;
	display: inline-block;
	background-color: rgba(230, 230, 230, 1);
	padding: 0px;
	margin-bottom: 40px;
/*	box-shadow: 4px 4px 4px rgba(0,0,0,.4);*/
}

.card0:hover {
	background-color: lightgrey;
	box-shadow: 4px 4px 4px rgba(0,0,0,.9);
}

.card1:hover {
	background-color: lightgrey;
	box-shadow: 4px 4px 4px rgba(0,0,0,.9);
}

span {
	font-size: 60px;
	vertical-align: middle;
	font-family: 'Actor', sans-serif;
	color: #ffffff;
	margin: auto;
}

a {
	text-decoration:  none;
	color: white;
}

a.card_link {
	color: black;
	font-size: 20px;
	font-family: 'Actor', sans-serif;
	text-align: center;
	line-height: 30px;
}


